<form hx-post="{{ url_for('users_management.load_edit_user_role', user_id=user.id, page=page, campus=selected_campus, department=selected_department, search=search_query) }}"
      hx-target="#users-table-container"
      hx-swap="innerHTML">
    <div class="mb-2">
        <label class="block text-sm font-medium">User Name</label>
        <input type="text" name="username" class="input input-bordered w-full" value="{{ form.username.data }}" readonly disabled>
    </div>
    <div class="mb-2">
        <label class="block text-sm font-medium">Email</label>
        <input type="email" name="email" class="input input-bordered w-full" value="{{ user.email }}" readonly disabled>
    </div>
    <div class="mb-2">
        <label class="block text-sm font-medium">Campus</label>
        <select name="campus" class="select select-bordered w-full"
                id="campus-select-edit"
                hx-post="{{ url_for('users_management.load_departments_edit') }}"
                hx-target="#department-select-edit"
                hx-swap="innerHTML"
                hx-trigger="change"
                hx-include="#campus-select-edit">
            <option value="none" {% if not form.campus.data or form.campus.data == "none" %}selected{% endif %}>None</option>
            {% for campus in campuses %}
            <option value="{{ campus.id }}" {% if form.campus.data == campus.id %}selected{% endif %}>
                {{ campus.name.get("0") }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-2">
        <label class="block text-sm font-medium">Department</label>
        <select name="department" class="select select-bordered w-full" id="department-select-edit">
            <option value="none" {% if not user.department_key or user.department_key == "none" %}selected{% endif %}>None</option>
            {% for key, name in departments.items() %}
            <option value="{{ key }}" {% if user.department_key == key %}selected{% endif %}>
                {{ name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-2">
        <label class="block text-sm font-medium">Role</label>
        <select name="roles" class="select select-bordered w-full">
            {% for role in roles %}
            <option value="{{ role.name }}" {% if role in form.roles.data.split(',') %}selected{% endif %}>
                {{ role.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="mt-4 flex justify-end space-x-2">
        <button type="button" class="btn btn-outline"
                hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
            Cancel
        </button>
        <button type="submit" class="btn btn-primary" hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
            Update
        </button>
    </div>
</form>