{% extends "/base/default_page.html" %}
{% import "/components/forms/form_renderer.html" as form_renderer %}
{% block content %}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
  {% for role in roles %}
  <div class="card shadow-lg border border-base-300 bg-base-100 p-8">
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-4">
        <div class="bg-primary text-primary-content p-3 rounded-full">
          <i data-feather="shield" class="w-6 h-6"></i>
        </div>
        <h2 class="text-xl font-semibold">{{ role.name }}</h2>
      </div>
      <button class="btn btn-ghost" title="Edit"
        hx-get="{{ url_for('role_management.load_edit_role', role_id=role.id) }}"
        hx-target="#modal-content"
        hx-swap="innerHTML"
        onclick="document.getElementById('modal').classList.add('modal-open')">
        <i data-feather="edit" class="w-5 h-5"></i>
      </button>
    </div>
    <p class="text-base mt-5">{{ role.description or "-" }}</p>
    <div class="mt-2">
      <p class="font-medium text-sm mb-2">PERMISSIONS</p>
      <div class="flex flex-wrap gap-2">
        {% for perm in role.permission %}
        <span class="badge bg-yellow-100 text-yellow-800 text-sm">{{ perm }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Add New Role Card -->
  <div class="card shadow-lg border border-dashed border-base-300 bg-base-100 p-8 flex items-center justify-center">
    <button 
      class="btn btn-primary btn-lg flex items-center gap-2"
      hx-get="{{ url_for('role_management.load_add_role') }}" 
      hx-target="#modal-content" 
      hx-swap="innerHTML"
      hx-on="htmx:afterRequest: document.getElementById('modal').classList.add('modal-open')">
      <i data-feather="plus-circle" class="w-6 h-6"></i>
      <span>Add New Role</span>
    </button>
  </div>
</div>

{% endblock content %}