<h2 class="text-lg font-bold mb-4">ตั้งรหัสผ่านใหม่</h2>
<form hx-post="{{ url_for('profile.change_new_password') }}"
      hx-target="#modal-content"
      hx-swap="innerHTML">
  <div class="mb-2">
    <label class="block text-sm font-medium">รหัสผ่านใหม่</label>
    <input type="password" name="new_password" class="input input-bordered w-full" required>
  </div>
  <div class="mb-2">
    <label class="block text-sm font-medium">ยืนยันรหัสผ่านใหม่</label>
    <input type="password" name="confirm_password" class="input input-bordered w-full" required>
  </div>
  {% if error_msg %}
  <p class="text-red-500 text-sm">{{ error_msg }}</p>
  {% endif %}
  <div class="mt-4 text-right">
      <!-- ปุ่ม Cancel -->
    <button type="button" class="btn btn-outline"
      hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
        Cancel
    </button>
    <button type="submit" class="btn btn-primary">เปลี่ยนรหัสผ่าน</button>
  </div>
</form>
