<h2 class="text-lg font-bold mb-4">
  Edit Profile
</h2>
<form method="POST" action="{{ url_for('profile.load_edit_profile') }}">
<div class="mb-2">
  <label class="block text-sm font-medium">
      Full Name
  </label>
  <input type="text" name="username" class="input input-bordered w-full" value="{{ form.username.data }}">
</div>
<div class="mb-2">
  <label class="block text-sm font-medium">
      Email
  </label>
  <input type="email" name="email" class="input input-bordered w-full" value="{{ form.email.data }}">
</div>
<div class="mb-2">
  <label class="block text-sm font-medium">
      Campus
  </label>
  <input type="text" name="campus" class="input input-bordered w-full bg-gray-100 cursor-not-allowed" 
         value="{{ form.campus.data | capitalize }}" readonly disabled>
</div>
<div class="mb-2">
  <label class="block text-sm font-medium">
      Department
  </label>
  <input type="text" name="department" class="input input-bordered w-full bg-gray-100 cursor-not-allowed" 
         value="{{ form.department.data }}" readonly disabled>
</div>
<div class="mt-4 flex justify-end space-x-2">
  <!-- ปุ่ม Cancel -->
  <button type="button" class="btn btn-outline"
      hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
          Cancel
  </button>
  <!-- ปุ่ม Update -->
  <button type="submit" class="btn btn-primary">
      Update
  </button>
</div>
</form>