<div class="flex flex-col h-full bg-base-100 shadow-md">
  <!-- Logo Section -->
  <div class="flex items-center gap-2 p-2">
    <a href="/" class="flex items-center gap-4">
      <div class="w-12 h-12 bg-primary rounded-lg flex items-center justify-center text-primary-content font-bold">
        <span class="text-xl font-bold">P</span>
      </div>
      <div>
        <h1 class="text-xl font-bold text-base-content">PSU-TGO</h1>
        <p class="text-sm text-base-content">PSU-TGO</p>
      </div>
    </a>
  </div>
  <div class="divider m-0"></div>

  <!-- Menu Section -->
  <ul class="menu flex-grow w-full p-2 bg-base-100 space-y-4">
    <li>
      <a href="/users-management" class="flex items-center gap-4 rounded-lg p-3 font-bold {% if request.path == '/users-management/' %}bg-primary text-primary-content{% else %}hover:bg-primary/90 hover:text-primary-content/90{% endif %}">
        <i data-feather="users"></i>
        <span class="text-md">{{ t.sidebar_user }}</span>
      </a>
    </li>
    <li>
      <a href="/role-management" class="flex items-center gap-4 rounded-lg p-3 font-bold {% if request.path == '/role-management/' %}bg-primary text-primary-content{% else %}hover:bg-primary/90 hover:text-primary-content/90{% endif %}">
        <i data-feather="shield"></i>
        <span class="text-md">{{ t.sidebar_role }}</span>
      </a>
    </li>
    <li>
      <a href="/form-management" class="flex items-center gap-4 rounded-lg p-3 font-bold {% if request.path == '/form-management/' %}bg-primary text-primary-content{% else %}hover:bg-primary/90 hover:text-primary-content/90{% endif %}">
        <i data-feather="file-text"></i>
        <span class="text-md">{{ t.sidebar_form }}</span>
      </a>
    </li>
    <li>
      <a href="/emissions-scope" class="flex items-center gap-4 rounded-lg p-3 font-bold {% if request.path == '/emissions-scope' %}bg-primary text-primary-content{% else %}hover:bg-primary/90 hover:text-primary-content/90{% endif %}">
        <i data-feather="bar-chart-2"></i>
        <span class="text-md">{{ t.sidebar_emissions }}</span>
      </a>
    </li>
    <li>
      <a href="/summary" class="flex items-center gap-4 rounded-lg p-3 font-bold {% if request.path == '/summary' or request.path == '/summary/' %}bg-primary text-primary-content{% else %}hover:bg-primary/90 hover:text-primary-content/90{% endif %}">
        <i data-feather="pie-chart"></i>
        <span class="text-md">{{ t.sidebar_summary }}</span>
      </a>
    </li>
    <li>
      <a href="/setting" class="flex items-center gap-4 rounded-lg p-3 font-bold {% if request.path == '/setting' %}bg-primary text-primary-content{% else %}hover:bg-primary/90 hover:text-primary-content/90{% endif %}">
        <i data-feather="settings"></i>
        <span class="text-md">{{ t.sidebar_settings }}</span>
      </a>
    </li>
  </ul>

  <div class="divider m-0"></div>

  <!-- Logout Section -->
  <div class="p-2">
    <a href="/users/logout" class="flex items-center gap-3 rounded-lg p-3 font-bold hover:bg-primary/90 hover:text-primary-content/90">
      <i data-feather="log-out"></i>
      <span class="text-lg">{{ t.sidebar_logout }}</span>
    </a>
  </div>
</div>
