{% set months = [
    {'id': 1, 'name': 'มกราคม',},
    {'id': 2, 'name': 'กุมภาพันธ์',},
    {'id': 3, 'name': 'มีนาคม', },
    {'id': 4, 'name': 'เมษายน',},
    {'id': 5, 'name': 'พฤษภาคม',},
    {'id': 6, 'name': 'มิถุนายน', },
    {'id': 7, 'name': 'กรกฎาคม',},
    {'id': 8, 'name': 'สิงหาคม',},
    {'id': 9, 'name': 'กันยายน',},
    {'id': 10, 'name': 'ตุลาคม'},
    {'id': 11, 'name': 'พฤศจิกายน'},
    {'id': 12, 'name': 'ธันวาคม',},
] %}


        <!-- การ์ดตาราง -->  


            <div id="table-container">
                <div class="overflow-x-auto border border-gray-200 rounded-md">
                    <div class="max-h-[700px] overflow-y-auto">
                        <table class="table w-full table-striped">
                            <thead class="bg-gray-50 sticky top-0 z-10">
                                <tr>
                                    <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider w-24 ">ACTION</th>
                                    <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider ">ข้อมูลประจำเดือน</th>
                                    {% for head in head_table %}
                                    <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        {{ head }} 
                                    </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 ">
                                {% for month in months %}
                                <tr class="hover:bg-gray-50 transition-colors duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="flex gap-2 px-4">
                                            <button class="text-blue-500 hover:text-blue-700 transition-colors"
                                            hx-get="{{ url_for('users_management.load_edit_user_role', user_id=user.id,page=page) }}" 
                                              hx-target="#modal-content" 
                                              hx-swap="innerHTML" 
                                              hx-on="htmx:afterRequest: document.getElementById('modal').classList.add('modal-open')">
                                              <i data-feather="edit" class="w-[18px] h-[18px]"></i>  
                                          </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 w-full text-center flex justify-center">{{ month.name }} ({{year}})</div>
                                    </td>
                                    {% for head in head_table %}
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900">
                                            {% set ns = namespace(has_data=false) %}
                                            {% for material in materials %}
                                                {% if material.month == month.id and material.name == head %}
                                                    {% for quantity in material.quantity_type %}
                                                    <div class="w-full text-center"
                                                        hx-get="{{ url_for('emissions.load_material_form', month_id=month.id, head=head, scope_id=scope_id, sub_scope_id=sub_scope_id, page=page,year=year) }}"
                                                        hx-target="#modal-content"
                                                        hx-swap="innerHTML"
                                                        hx-on="htmx:afterRequest: document.getElementById('modal').classList.add('modal-open')">
                                                        {{ quantity.amount }} 
                                                    </div>
                                                           
                                                        {% set ns.has_data = true %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if not ns.has_data %}
                                            <div class=" w-full text-center"
                                                hx-get="{{ url_for('emissions.load_material_form', month_id=month.id, head=head, scope_id=scope_id, sub_scope_id=sub_scope_id, page=page,year=year) }}"
                                                hx-target="#modal-content"
                                                hx-swap="innerHTML"
                                                hx-on="htmx:afterRequest: document.getElementById('modal').classList.add('modal-open')">
                                               ระบุ-ข้อมูล
                                            </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- ปุ่ม Pagination -->
                <div class="w-full flex justify-center items-center mt-6 gap-4 py-4">
                    <!-- ปุ่ม Previous -->
                    <button 
                        class="btn btn-circle bg-base-200 hover:bg-base-300 text-base-content shadow-md transition duration-200 {% if page <= 1 %}btn-disabled opacity-50{% endif %}" 
                        {% if page > 1 %}hx-get="{{ url_for('emissions.load_emissions_table', scope_id=scope_id, sub_scope_id=sub_scope_id, page=page - 1,year=year) }}" hx-target="#table-container" hx-swap="innerHTML"{% endif %}>
                        <i data-feather="arrow-left" class="w-5 h-5"></i>
                    </button>

                    <!-- ตัวเลข Page -->
                    <span class="text-sm text-gray-600">
                        Page <span class="font-semibold text-primary">{{ page }}</span> of <span class="font-semibold">{{ total_pages }}</span>
                    </span>

                    <!-- ปุ่ม Next -->
                    <button 
                        class="btn btn-circle bg-base-200 hover:bg-base-300 text-base-content shadow-md transition duration-200 {% if page >= total_pages %}btn-disabled opacity-50{% endif %}" 
                        {% if page < total_pages %}hx-get="{{ url_for('emissions.load_emissions_table', scope_id=scope_id, sub_scope_id=sub_scope_id, page=page + 1,year=year) }}" hx-target="#table-container" hx-swap="innerHTML"{% endif %}>
                        <i data-feather="arrow-right" class="w-5 h-5"></i>
                    </button>


                </div>
            </div>
            <script>
                feather.replace();
            </script>