<form hx-post="{{ url_for('emissions.save_materials') }}"
      hx-target="#table-container"
      hx-swap="innerHTML">
      
    <!-- ส่วนหัวข้อ -->
    <div class="mb-4">
        <h2 class="text-lg text-gray-900">แก้ไขข้อมูลประจำเดือน {{ month }} ({{ year }})</h2>
    </div>
    <div class="bg-white rounded-lg shadow p-6 grid grid-cols-2 gap-4">

        <!-- ลูปหัวข้อ -->
        {% for head in head_table %}
        <div class="mb-4">
            <label class="text-gray-700">{{ head }}:</label>
            
            <!-- ลูปข้อมูลใน materials_form -->
            {% for input in materials_form[loop.index0] %}
                {% set matched_material = materials | selectattr('name', 'equalto', head) | list %}
                {% set matched_quantity = matched_material | map(attribute='quantity_type') | sum(start=[]) | selectattr('field', 'equalto', input.field) | list %}
                <div class="mb-2">
                    <label class="block text-sm font-medium text-gray-700">{{ input.label }} ({{ input.unit }}):</label>
                    <input
                      type="number"
                      step="any"
                      name="amount_{{ head }}_{{ input.field }}"
                      class="input input-bordered w-full"
                      placeholder="ระบุ-{{ input.label }}"
                      value="{{ matched_quantity[0].amount if matched_quantity else '' }}"
                      required
                    >
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        
        <!-- Hidden Inputs -->
        <input type="hidden" name="scope_id" value="{{ request.args.get('scope_id') }}">
        <input type="hidden" name="sub_scope_id" value="{{ request.args.get('sub_scope_id') }}">
        <input type="hidden" name="page" value="{{ request.args.get('page', 1) }}">
        <input type="hidden" name="year" value="{{ request.args.get('year', '') }}">
        <input type="hidden" name="month_id" value="{{ month_id }}">
    </div>

    <!-- ปุ่ม -->
    <div class="mt-4 flex justify-end space-x-2">
        <button type="button" class="btn btn-outline"
                hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
            Cancel
        </button>
        <button type="submit" class="btn btn-primary"
                hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
            Save Changes
        </button>
    </div>
</form>