<form 
  hx-post="{{ url_for('emissions.save_materials') }}"
  hx-target="#table-container"
  hx-swap="innerHTML"
>
  <div class="mt-2">
    <div class="flex items-center justify-between px-1 mb-4">
      <h2 class="font-medium text-2xl text-gray-900">
        แก้ไขข้อมูลประจำเดือน {{ month }} ({{ year }})
      </h2>
      <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none"
              hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="max-h-48 overflow-y-auto border border-gray-200 rounded-lg p-3 bg-gray-50 mb-4">
      <label class="text-gray-700">ประเภท :</label>
      <div class="block text-sm font-medium mb-2">{{ head }}</div>
      <input type="hidden" name="head" value="{{ head }}">

      <label class="block text-sm font-medium text-gray-700">{{ input_label }} ({{ unit }}):</label>
      <input
        type="number"
        step="any"
        name="amount"
        class="input input-bordered w-full"
        placeholder="ระบุ - {{ unit }}"
        value="{{ amount if amount is not none else '' }}"
        required
      >
    </div>

    <!-- Hidden Inputs -->
    <input type="hidden" name="scope_id" value="{{ request.args.get('scope_id') }}">
    <input type="hidden" name="sub_scope_id" value="{{ request.args.get('sub_scope_id') }}">
    <input type="hidden" name="page" value="{{ request.args.get('page', 1) }}">
    <input type="hidden" name="year" value="{{ request.args.get('year', '') }}">
    <input type="hidden" name="month_id" value="{{ month_id }}">
    <input type="hidden" name="input_label" value="{{ input_label }}">
    <input type="hidden" name="input_field" value="{{ input_field }}">

    <div class="mt-4 flex justify-between items-center">
      <!-- ปุ่มลบ -->
      <button type="button"
        class="btn btn-outline btn-error px-4 py-2 text-red rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-150 ease-in-out"
        hx-post="{{ url_for('emissions.delete_material') }}"
        hx-target="#table-container"
        hx-swap="innerHTML"
        hx-vals='{
          "scope_id": "{{ request.args.get("scope_id") }}",
          "sub_scope_id": "{{ request.args.get("sub_scope_id") }}",
          "month_id": "{{ month_id }}",
          "year": "{{ request.args.get("year") }}",
          "head": "{{ head }}"
          "input_field" : {{input_field}}
        }'
        hx-on="click: document.getElementById('modal').classList.remove('modal-open')"
      >
        Delete
      </button>

      <!-- ปุ่ม Cancel และ Save Changes -->
      <div class="flex space-x-2">
        <button type="button" class="btn btn-outline"
          hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary"
          hx-on="click: document.getElementById('modal').classList.remove('modal-open')">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</form>
